<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.versace.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <display-name>FashionGhar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.versace.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.versace.controller.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/ViewProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.versace.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductInfo</display-name>
    <servlet-name>GetProductInfo</servlet-name>
    <servlet-class>com.versace.controller.GetProductInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductInfo</servlet-name>
    <url-pattern>/GetProductInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.versace.controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.versace.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductImage</display-name>
    <servlet-name>UpdateProductImage</servlet-name>
    <servlet-class>com.versace.controller.UpdateProductImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductImage</servlet-name>
    <url-pattern>/UpdateProductImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerList</display-name>
    <servlet-name>GetCustomerList</servlet-name>
    <servlet-class>com.versace.controller.GetCustomerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerList</servlet-name>
    <url-pattern>/GetCustomerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMaleProducts</display-name>
    <servlet-name>GetMaleProducts</servlet-name>
    <servlet-class>com.versace.controller.GetMaleProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMaleProducts</servlet-name>
    <url-pattern>/GetMaleProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProducts</display-name>
    <servlet-name>FilterProducts</servlet-name>
    <servlet-class>com.versace.controller.FilterProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProducts</servlet-name>
    <url-pattern>/FilterProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.versace.controller.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>com.versace.controller.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>com.versace.controller.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.versace.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.versace.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserImage</display-name>
    <servlet-name>UpdateUserImage</servlet-name>
    <servlet-class>com.versace.controller.UpdateUserImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserImage</servlet-name>
    <url-pattern>/UpdateUserImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderList</display-name>
    <servlet-name>ViewOrderList</servlet-name>
    <servlet-class>com.versace.controller.ViewOrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderList</servlet-name>
    <url-pattern>/ViewOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrders</display-name>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>com.versace.controller.ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.versace.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserPassword</display-name>
    <servlet-name>ChangeUserPassword</servlet-name>
    <servlet-class>com.versace.controller.ChangeUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPassword</servlet-name>
    <url-pattern>/ChangeUserPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.versace.controller.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
</web-app>